html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 60px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
}

.nav-left {
    flex: 1;
    justify-content: flex-start;
}

.nav-center {
    flex: 2;
    justify-content: center;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
}

.nav-container a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.nav-container a:hover {
    background-color: #555;
}

.search-form {
    text-align: center;
    margin-top: 10px;
}

.search-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-form button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #333;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}

div {
    margin-bottom: 5px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.content {
    margin-bottom: 50px;
}

.review-form-container, .reservation-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h1{
    text-align: center;
    margin-top: 20px;
}

#start_time, #end_time, #date {
    margin-bottom: 3%;
}

#tabela_login {
    margin-top: 7%;
}

.facilities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.facility {
    width: calc(25% - 10px);
    margin-bottom: 40px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.facility img {
    max-width: 100%;
    height: auto;
}

.facility h2 {
    margin-top: 0;
}

.facility p {
    margin-bottom: 10px;
}

.facility a {
    color: #007bff;
    text-decoration: none;
}

.facility a:hover {
    text-decoration: underline;
}

.delete-button {
    width: 100%;
    padding: 10px;
    background-color: #e60000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.delete-button:hover {
    background-color: #cc0000;
}

.cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button:hover {
    background-color: darkred;
}